{% extends 'film/base.html' %}

{% block title %}
Cinemates
{% endblock %}

{% block links %}
{% endblock %}

{% block body %}
<div class ="container" style="margin-top: 100px;">
    <h1 class="text-center my-4 display-3">{{title}}</h1>  
    <div class = "container">
        <table style="border-collapse: separate; border-spacing: 50px;">
            <tr >
                <td><img src="{{image}}" style="width: 20rem; height: 25rem;" class="rounded"/></td>
                <td>
                    <h3>Directors : {{author}}</h2>
                    <h3>Writers : {{writer}}</h2>
                    <h3>Cast : {{cast}}</h2>
                    </br>
                    <h3>Genre : {{genre}}</h2>
                    <h3>Rate : {{rate}}/10</h2>
                </td>
            </tr>
            
        </table>
        <p style = "font-size: large;" id="synopsis"><strong>Synopsis :</strong></br>{{plot}}</p>

        <p style = "font-size: large;" id="comment"><strong>Best Comment founded :</strong></br> {{comment}}</p>
    </div>
</div>





{% endblock %}


