<div class="d-flex flex-wrap justify-content-around" id="FilmList">
    {% for film,film_link,film_pic in films %}
        <a href="/film/{{film_link}}">
            <div class="card text-white mb-3 cardBackground" style="width: 20rem;">
                <div class="card-body">
                  <img class="img-fluid rounded-2" src ="{{film_pic}}" >  
                  <h4 class="card-title text-decoration-none">{{film}}</h4>
                </div>
            </div>
        </a>
    {% endfor %}
</div>