{% extends 'home/base.html' %}

{% block title %}
Cinemates
{% endblock %}

{% block links %}
{% endblock %}

{% block body %}
<div class ="container" style="margin-top: 200px;">
    <h1 class="text-center">Search your film</h1>
    
    <form method="POST" class="d-flex align-content-center w-50 m-auto mb-5" id="searchform">
      {% csrf_token %}
      {{ form_key.as_p }}
      <input class="form-control col-xs-6 mx-2" type="text" placeholder="Search" id="searchbar" name="searchbar">
      <button id="searchbutton" onclick ="SearchFilm()" class="btn btn-primary col-xs-6" type="button">Search</button>
      
    </form>
    
  </div>
  <div class="d-flex-center text-center mt-5 ">
    <div class="d-flex flex-wrap justify-content-around" id="FilmList">
        {% for film,film_link in films %}
          <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
              <h4 class="card-title">Primary card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        {% endfor %}
    </div>      
  </div>
</div>

<div class="modal"><!-- Place at bottom of page --></div>

<script>
  $('#searchform').keypress(function (e) {                                       
       if (e.which == 13) {
            e.preventDefault();
            SearchFilm()   
       }
  });

  function SearchFilm(){
    $.ajax({
      type:'POST',
      url:"search/",
      dataType: "html",
      async: true,
      data:{
        search: $("#searchbar").val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function (data) {
        $('#FilmList').replaceWith(data);
      }
    })
  }

  $body = $("body");

  $(document).on({
      ajaxStart: function() { $body.addClass("loading");    },
       ajaxStop: function() { $body.removeClass("loading"); }    
  });


</script>




{% endblock %}


