{% extends 'about/base.html' %}

{% block title %}
Cinemates
{% endblock %}

{% block links %}
{% endblock %}

{% block body %}
<div class ="container" style="margin-top: 100px;">
    <h1 class="text-center">What's the project ?</h1> 
    <h3 class="text-center" style="margin-top: 60px;" >General informations</h3>
    <p class="text-center" style="margin-top: 20px;">The objective of this site is to allow the user to search for information on films.
       For that I used the Web Scraping with BeautifulSoup with the python module Cinemagoer which allows me to retreive informations
       about a specific film. The site is made with Django and Bootstrap. The project is open source and can be found on <a href="https://github.com/cegepmatane/projet-specialise-2022-Lechiffre4" target="_blank">Github</a>.
    </p>

    <h3 class="text-center" style="margin-top: 80px;" >Technical informations</h3>
    <p class="text-center" style="margin-top: 20px;">The technologies used in this project is the famous Python framework Django. I retreive informations, I used a lot of methods. First, I used the BeautifulSoup4 to scrape websites. The second way I used
        is to use the module Cinemagoer which is an unofficial API for IMBd that allow developpers to get informations about films. I had a major issues with the request which where too long. So I had to create a cache system with a FireBase database. 
        When a user search for a film, the system will check if the film is already in the database. If it is, it will return the informations. If not, it will scrape the website and add the film to the database. To send datas to FireBase, I used a library called Pyrebase.
    </p>

    <h3 class="text-center" style="margin-top: 80px;" >Contact</h3>
    <p class="text-center" style="margin-top: 20px;">If you have any questions, you can contact me on my email : <a href="mailto:sahelhaouchet@gmail.com" >sahelhaouchet@gmail.com</a>
    </p>
      <div class ="d-flex justify-content-center">
        <a href="https://www.paypal.com/paypalme/sahelh" target="_blank" class="mx-5""">Donate</a>
        <a href="https://github.com/Lechiffre4" target="_blank">Github</a>
      </div>
          
    
</div>


{% endblock %}


