{% extends 'about/base.html' %}

{% block title %}
Cinemates
{% endblock %}

{% block links %}
{% endblock %}

{% block body %}
<div class ="container" style="margin-top: 100px;">
    <h1 class="text-center">What's the project ?</h1> 
    <h3 class="text-center" style="margin-top: 60px;" >General informations</h3>
    <p class="text-center" style="margin-top: 20px;">The objective of this site is to allow the user to search for information on films.
       For that I used the Web Scraping with BeautifulSoup with the python module Cinemagoer which allows me to retreive informations
       about a specific film.
    </p>

    <h3 class="text-center" style="margin-top: 80px;" >Technical informations</h3>
    <p class="text-center" style="margin-top: 20px;">The technologies used in this project is the famous Python framework Django. I retreive informations, I used a lot of methods. First, I used the BeautifulSoup4 to scrape websites. The second way I used
        is to use the module Cinemagoer which is an unofficial API for IMBd that allow developpers to get informations about films. 
    </p>
</div>


{% endblock %}


